@model string

@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
<script src="~/js/visualize.js"></script>

<div class="text-center">
    <h1 class="display-4">Rebalance History</h1>
    
    <div>
        <div id="plot-container"></div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const diagnostics = JSON.parse('@Html.Raw(Model)');
        document.visualizeDiagnostics(diagnostics);
    });
</script>
